$gray: #000;

.markdown {
    height: 100%;
    overflow: auto;
    display: flex;

    .content {
        flex: 1;

        textarea {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            border: none;
            background: #2a2f31;
            color: #eee;
            padding: .1rem;
            outline: none;
        }
    }  
    
    .cover {
        flex: 1;
        height: 100%;
        overflow: auto;
    }

    .out {
        min-height: 100%;
        overflow: auto;
        padding: .2rem .3rem;
        font-size: .12rem;
        // background: #fbf5e5;
        // display: none;

        a {
            color: #1d71c0;
            text-decoration: underline;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: .1rem 0;
        }
        blockquote {
            border-left: 5px solid #f0f5f7;
            padding: 0 .3rem;
            color: #666;
            margin: .4rem 0;
            font-size: .14rem;
            overflow: hidden;
        }
        ol {
            margin: .2rem;
        }
        ul {
            margin: .2rem 0;
            list-style: none;
        }
        ul li::before {
            content: '•';
            color: #1d71c0;
            margin-right: .1rem;
        }
        ul li.task-list-item::before {
            content: '';
        }
        code {
            background: #f0f5f7;
            padding: .02rem .08rem;
            border-radius: 3px
        }
        pre {
            // border: 2px dashed #aaa;
            padding: .2rem;
            margin: .2rem 0;
            background: #f0f5f7;
            overflow-x: auto;
            border-radius: 3px;
            line-height: 1.5;
        }
        hr {
            border: none;
            border-top: .02rem solid #f0f5f7;
        }
    }

    .editor {
        display: flex;
        flex: 1;
        min-height: 100%;

        p {
            margin: 0;
            font-size: .14rem;
            white-space: nowrap;
            height: .14rem * 1.5;
            letter-spacing: .01rem;
        }
    }

    .line-nums {
        min-width: .4rem;
        background: #30363a;
        padding: .15rem .05rem;
        text-align: right;
        color: #6f8b9c;
        border-right: 1px dashed #535e63;
    }
    .textarea {
        flex: 1;
        background: #30363a;
        outline: none;
        padding: .15rem;
        color: #ddd;

    }
}

@media print {
    body,
    html {
        height: auto!important;
        overflow: auto!important;
    }
    .entries,
    .markdown .cover:first-child,
    .github,
    #disqus
    {
        display: none!important;
    }
    .container {
        width: 100%;
    }
    .out {
        display: block !important;
        width: 100%;
        padding: 0!important;
    }
}