.markdown {
    height: 100%;
    overflow: auto;
    display: flex;

    .content {
        flex: 1;

        textarea {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            border: none;
            background: #2a2f31;
            color: #eee;
            padding: .1rem;
            outline: none;
        }
    }  
    
    .cover {
        flex: 1;
        height: 100%;
        overflow: auto;
    }

    .out {
        min-height: 100%;
        overflow: auto;
        padding: .2rem .3rem;
        background: #fbf5e5;
        // display: none;
    }

    .editor {
        display: flex;
        flex: 1;
        min-height: 100%;

        p {
            margin: 0;
            font-size: .14rem;
        }
    }

    .line-nums {
        min-width: .4rem;
        background: #30363a;
        padding: .15rem .1rem;
        text-align: right;
        color: #6f8b9c;
        border-right: 1px dashed #535e63;
    }
    .textarea {
        flex: 1;
        background: #30363a;
        outline: none;
        padding: .15rem;
        color: #ddd;
    }
}