@import './var.scss';

.entries {
    background: $dark;
    /* Rectangle: */
// background-image: linear-gradient(0deg, #54DD70 0%, #3D4448 100%);
    width: 260px;
    height: 100%;
    float: left;
    // text-align: center;
    // border-right: 3px solid $light;
    // box-shadow: 2px 0 3px rgba(0,0,0,.2);
    overflow: hidden;

    header {
        padding: .2rem .15rem;
        margin: 0;
        background: $green;
        text-align: center;
        // border-radius: .03rem;
        overflow: hidden;
        color: $white80;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: .5rem;
            height: auto;
            display: inline-block;
            // display: none;
            vertical-align: bottom;
            margin-right: .1rem;
            filter: drop-shadow(2px 2px rgba(0,0,0,.2));
            // margin-top: -80px;
            // float: left;
        }
        h1 {
            display: block;
            font-size: .18rem;
            margin: 0;
            color: #fff;
            text-shadow: 1px 1px 0 rgba(0,0,0,.2), 2px 2px 0 rgba(0,0,0,.2),;

            // margin-top: .1rem;
            // margin-top: .1rem;
            // line-height: 60px;
            // color: #fff;
            // background: $dark;
            // span {
            //     color: $green;
            // }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: .1rem .2rem;
            cursor: pointer;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background: $dark-light;
            }

            &.current {
                border-left: .03rem solid $green;
                color: $green;
            }

            &::before {
                content: '';
                width: .08rem;
                height: .08rem;
                background: $yellow;
                border-radius: 50%;
                margin-right: .1rem;
                display: inline-block;
                vertical-align: middle;
            }

            &.completed {
                &::before {
                    background: $green;
                }
            }
        }
    }

    nav {
        color: #fff;
        padding: 0;
        max-height: calc(100% - 100px);
        overflow-y: auto;
        // margin-top: -1rem;
        // min-height: 100%;

        > ul {
            
            > li {
                font-weight: 600;
                font-size: .12rem;
                // padding: .1rem .2rem;
                color: $gray-light;
                border-bottom: 1px solid $dark-light;
                margin-top: .1rem;

                &:hover {
                    background: $dark;
                }

                &::before {
                    display: none;
                }
            }
        }
    }
}