@import './normalize.css';
@import './entries.scss';
@import './var.scss';

$fontSize: .4rem;

body, 
html {
    height: 100%;
}
html {
    font-size: 100px;
}
body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: .14rem;
    font-weight: 300;
    line-height: 1.5;
    color: $dark;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h1,
.h1 {
    font-size: $fontSize;
}
h2,
.h2 {
    font-size: $fontSize - .5;
}
h3,
.h3 {
    font-size: $fontSize - 1;
}
h4,
.h4 {
    font-size: $fontSize - 1.5;
}
h5,
.h5 {
    font-size: $fontSize - 2;
}
h6,
.h6 {
    font-size: $fontSize - 2.5;
}
p,
.p {
    font-size: .16rem;
    margin-bottom: .16rem;
}

.container {
    display: inline-block;
    width: calc(100% - 260px);
    height: 100%;
    float: left;
    // background: #eee;
    position: relative;
}

.github {
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1.8);
    transform-origin: right top;
}

.nopage {
    width: 80%;
    height: 40%;
    border-radius: .03rem;
    background: #eee;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &::before {
        content: '本题无展示页，请点击右上方 Github 图标查看源代码。';
        color: #999;
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        font-size: .2rem;
    }
}