$gap-big: .4rem;
$gap-middle: .2rem;
$gap-normal: .15rem;
$gap-small: .1rem;
$gap-tiny: .06rem;

$border: 0.01rem;

// Color
$green: #54DD70;
$green-light: #64e47e;
$green-dark: #40b958;

$blue: #38AFF6;
$blue-light: #59bbf5;
$blue-dark: #299ade;

$yellow: #FFCD49;
$red: #F1584D;

$dark: #3D4448;
$dark-light: #535C60;
$gray: #747E86;
$gray-light: #ABB5BC;
$light: #E5E9EC;
$white: #fff;

$white20: rgba(255, 255, 255, .2);
$white50: rgba(255, 255, 255, .5);
$white80: rgba(255, 255, 255, .8);

$black20: rgba(0, 0, 0, .2);
$black50: rgba(0, 0, 0, .5);
$black80: rgba(0, 0, 0, .8);